/* css mobile  */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

html {
    max-width: 320px;
    font-size: 0.8rem;

}

body {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    }

html, body {
    overflow-x: hidden;
}

.header__logo, .header, main, footer, .nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

}
.nav-list {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    align-items: flex-start;

}
.header__logo-link {
    display: none;
}

.HELLO, .HELLO__subtitle {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 0.9rem;
    margin-bottom: 50px;

}

.HELLO__subtitle {
    width: 70%;
}
.HELLO__wrapper {
    margin: 0 10px;
    padding: 10px;
    width: 320px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.HELLO__photo {
    background-image: url(../img/photo.jpg);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-size: cover;
    position: relative;

}
.HELLO__photo__wrapper{
    width: 100%;

    margin-top: 148px;
}
.HELLO__button {
    margin-bottom: 10px;
    width: 50%;
}

.status {
    width: 100%;

}

.projects__card1, .projects__card2, .projects__card3 {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid var(--pink);

}

.projects__slider {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    gap: 20px;
}


/* ////////////   contacts /////////////////// */


.contacts-HELLO__wrapper {
    margin: 50px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.contacts-HELLO__text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10%;
    font-size: 1.5rem;
    margin-left: 10%;

}

.contacts-span  {
    margin-top: -15%;
}

.write-me {
    margin-top: -7%;
}

.contacts__title {
    color: #ffffff;
    line-height: normal;
}

.contacts__wrapper {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contacts-HELLO {
    color: #ffffff;
    line-height: normal;
    margin-bottom: 60px;
}

.pink-line {
    width: 60%;
    border: 1px solid var(--pink);
    margin-top: 1%;
    margin-bottom: 2%;
}

#post {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    border-radius: 10px;

}

.post input[type="text"], textarea, input {
    padding: 10px;
    border: 1px solid var(--border-grey);
    font-style: italic;
    font-size: 0.9rem;
    background-color: transparent;
    color: #ffffff;
    animation: border 1.5s infinite linear;

}


.post textarea {
    height: 200px;
}


}