@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Fira+Code:wght@400;500;600;700&display=swap');


:root {

    --pink: #C778DD;
    --black: #282C33;
    --grey: #3a3a4548;
    --white: #ffffff;
    --border-grey: #ABB2BF;

}


* {
    box-sizing: border-box;
}


html {
    max-width: 1600px;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

}

body {
    width: 1024px;
    height: 3000px;
    background-color: var(--grey);
    position: relative;

}
.container {
    width: 100%;
    margin: 0 auto;

}


main {
    position: relative;
}

a {
    text-decoration: none;
    padding: 5px;
    color: #ffffff;
}

.nav {
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.nav-list {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;

}




.pink {
    color: var(--pink);
}


.header__logo__link {
    position: fixed;
    top: 4%;
    left: 18.5%;

}

.header {
    font-size: 0.875rem;
    padding: 32px;
}

/* .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
} */

.header__wrapper {
    width: 100%;


}

.squares {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background-color: rgba(0, 255, 255, 0.345);
}
.square {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0.7px solid var(--pink);

}

.animation-container {

    width: 100%;
    height: 100vh;
    background-color: transparent;
}




/* section INFO HELLO */





.HELLO {

    width: 100%;
    color: #ffffff;
    line-height: normal;
    margin-bottom: 200px;



}
.HELLO__subtitle {
    font-size: 0.6rem;
    width: 350px;
    margin-top: 10px;

}

.HELLO__title {
    font-size: 1.5rem;

}

.HELLO__wrapper {
    margin: 123px 0 0 154px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.status-icon {
    width: 10px;
    height: 10px;
    background-color: var(--pink);

}

.HELLO__photo {
    background-image: url(../img/photo.png);

    width: 250px;
    height: 250px;
    background-size: cover;
    margin-right: 120px;

    position: relative;
    border: 0.5px solid var(--pink);
    z-index: 300;


}

.HELLO__photo__wrapper {
    width: 100%;
    margin-top: 230px;
    border: 0.5px solid #ABB2BF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--black);
    z-index: 3;
    position: relative;
}

.status {
    font-size: 0.7rem;
}
.box1 {
    width: 250px;
    height: 250px;
    display: block;
    background-color: transparent;
    border: 0.5px solid var(--pink);
    position: absolute;
    top: -20px;
    left: 720px;
    z-index: -3;
    animation: position2 8s infinite;
}

.box2 {
    width: 250px;
    height: 250px;
    display: block;
    background-color: transparent;
    border: 0.5px solid var(--pink);
    position: absolute;
    top: -40px;
    left: 700px;
    z-index: -3;
    animation: position 8s infinite;
}


@keyframes position {
    0% {position: absolute;
        top: -20px;
        left: 720px;
    }

    50% {position: absolute;
        top: 0px;
        left: 745px;
    }

    100% {
        position: absolute;
        top: -20px;
        left: 720px;

    }
}

@keyframes position2 {
    0% {position: absolute;
        top: -40px;
        left: 700px;
    }

    50% {position: absolute;
        top: 0px;
        left: 745px;
    }

    100% {
        position: absolute;
    top: -40px;
    left: 700px;
    }
}

.box3 {
    width: 250px;
    height: 250px;
    display: block;
    background-color: transparent;
    border: 0.5px solid var(--pink);
    position: absolute;
    top: -60px;
    left: 680px;
    z-index: -3;
    animation: position3 8s infinite;
}


@keyframes position3 {
    0% {position: absolute;
        top: -60px;
    left: 680px;
    }

    50% {position: absolute;
        top: 0px;
        left: 745px;
    }

    100% {
        position: absolute;
        top: -60px;
    left: 680px;
    }
}

.HELLO__button, .button-send {

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-family: 'Courier New', Courier, monospace;

    border-radius: 2px;
    background-color: transparent;
    border: 0.5px solid var(--pink);
    color: var(--white);
    font-size: 0.6rem;
    padding: 5px 6px;



}

.HELLO__button:hover, .button-send:hover, .here, .header a:hover {
    background-color: #c778dd63;
    cursor: pointer;
    border:rgba(255, 255, 255, 0.603) 0.5px solid;
    border-radius: 6px;

    transition: all 600ms ease;
}


.squares {
    display: none;
}





/*------------------------- projects */




.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
   
}

.projects__wrapper {
    height: 70vh;
    width: 70%;
    height: 540%;
    display: flex;
    flex-direction: column;
    
}

.projects__line {
    width: 50%;
    height: 1px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
 text-align: center;
 margin-top: 10px;

}


.projects__title {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 84px;
    margin-left: -130px;
   }



.projects__slider {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    color: var(--white);

}

.projects__slider-wrapper {
    
    width: 100%;
    border: var(--border-grey) 0.5px solid;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    /* overflow: hidden;    */

}

.nextBtn, .prevBtn {
   /* width: 4rem;
   height: 4rem; */
    background-color: transparent;
    border: none;
    margin: 20px;
        
}

.card-visible {
    width: 100%;
    height: 100%;
    /* border: 0.5px solid var(--border-grey); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-hidden {
    display: none;
}

.projects__img {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.light, .dark {
    width: 50%;
    height: 100%;

}

.card2 {
    width: 100%;
    height: 100%;
}

.projects__button {
    display: flex;
    justify-content: center;
}

.projects__stack, .projects__card-title {
    width: 100%;
    border: 0.5px solid var(--border-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-family: "Fira Code";
    font-weight: 400;
    border-top: none;
    border-left: 0;
    border-right: 0;
    color: var(--border-grey);
   
    padding: 10px;
    text-align: center;
}


.projects__card-title p {
    
    color: var(--border-grey);
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    border-left: 0;
    border-right: 0;
}

.projects__card-title h3 {
    margin: 0;
    color: var(--white);
    
}

.projects__card-title {
    border-bottom: none;
    
}
.projects__card1 button {
    border: 0.5px solid var(--border-grey);
    background-color: transparent;
    font-size: 0.6rem;
    
    display: flex;
    justify-content: center;
   padding: 2px;
   margin-bottom: 5px;
}

.prevBtn:hover, .nextBtn:hover {
    transform: scale(1.2);
    transition: 400ms ease;
    }

.prevBtn:active, .nextBtn:active {
    transform: scale(0.8);
    transition: 300ms ease;

}
/* ////////////   contacts /////////////////// */


.contacts-HELLO__wrapper {
    margin: 50px 50px 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.contacts-HELLO__text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -10%;
    font-size: 1.5rem;
    margin-left: 10%;

}

.contacts-span  {
    margin-top: -15%;
}

.write-me {
    margin-top: -7%;
}

.contacts__title {
    color: #ffffff;
    line-height: normal;
}

.contacts__wrapper {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.contacts-HELLO {
    color: #ffffff;
    line-height: normal;
    margin-bottom: 60px;
}

.pink-line {
    width: 60%;
    border: 0.5px solid var(--pink);
    margin-top: 1%;
    margin-bottom: 2%;
}

#post {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    border-radius: 10px;

}

.post input[type="text"], textarea, input {
    padding: 10px;
    border: 0.6px solid var(--border-grey);
    font-style: italic;
    font-size: 0.9rem;
    background-color: transparent;
    color: #ffffff;
    animation: border 1.5s infinite linear;

}

@keyframes border {
    0% {
        border: 0.7px solid var(--border-grey);
    }

    50% {
        border: 0.7px solid var(--pink);
    }

    100% {
        border: 0.7px solid var(--border-grey);
    }

}

.post textarea {
    height: 200px;
}

h3 {
    font-size: 0.9rem;
}

.telegram-link:hover {
    color: var(--pink);
    cursor: pointer;
    text-decoration: underline;
}








